{:paths ["src" "resources"]
 :deps  {http-kit/http-kit {:mvn/version "2.7.0"}
         metosin/reitit-ring {:mvn/version "0.6.0"}
         hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
         ring/ring-defaults {:mvn/version "0.4.0"}
         medley/medley {:mvn/version "1.4.0"}}
 :aliases
 {:neil
  {:project {:name usrj.htmx
             :version "0.0.1"}}

  :nrepl ;; added by neil
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}
                org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                cider/cider-nrepl {:mvn/version "0.47.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"
               "--middleware"
               "[cider.nrepl/cider-middleware]"]}

  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.0" :git/sha "8c93e0c"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}

  :dev
  {:extra-deps {ring/ring-devel {:mvn/version "1.12.1"}
                io.github.nubank/morse {:git/tag "v2023.10.06.02" :git/sha "88b5ff7" :git/url "https://github.com/nubank/morse"}
                org.clojure/tools.trace {:mvn/version "0.8.0"}}}}}
